/*p {
    font-size: 17px;
}*/

/*alert message*/
#message-error p, #message-info p, #message-success p {
    padding-left: 1em;
    margin: .1em 0 0;
}

#message-error p {
    font-weight: 700;
    color: maroon;
}

#message-error {
    background: #faa;
}

#message-error, #message-info, #message-success {
    border-radius: 15px;
    /*width: 75%;*/
    padding: 1em;
    margin: 1em auto;
}
/*end alert message*/

/**/
.evaa-container .btn.btn-color-primary {
    background-color: #1d4d6b !important;
}

.evaa-container .btn.btn-color-primary:hover {
    background-color: #999997 !important;
}

.evaa-container .btn {
    color: #fff !important;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 0 1.5em;
    line-height: 48px;
    height: 50px;
    font-family: "DIN Neuzit Grotesk", DINNeuzitGrotesk, "Barlow Condensed", "Impact", Impact, sans-serif;
    border-radius: 0;
}
.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-header {
    color: #036;
    /*font-size: 2.75rem;*/
    font-size: 40px;
    line-height: 1.3em;
    /*margin: 1.07em 0 .535em;*/
    font-weight: 550;
}
.poti-light-bg {
    background-color: #e5e5e5 !important;
}
/**/

.flex-container, .sponsor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.speaker-layout1, .sponsor {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    /*padding: 20px;*/
    text-align: center;
}

.item-price{
    font-size: 40px !important;
}


@media (max-width: 1024px) {
    .speaker-layout1, .sponsor {
        flex: 1 1 calc(33.33% - 20px); /* 3 items par ligne */
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .speaker-layout1, .sponsor {
        flex: 1 1 calc(50% - 20px); /* 2 items par ligne */
        max-width: calc(50% - 20px);
    }
}

.item-img img{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.section-heading h2{
    font-size: 35px;
}

.schedule-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}

.overlay-icon-layout5 .text-left ul{
    list-style: disc;
    margin-left: 50px;
    font-size: 17px;
}


.row-2{
    margin-top:  50px;
}

.row-1, .row-2{
    margin-left: 100px;
    margin-right: 100px;
}

.container-maps{
    margin: 50px auto;
}


/*service styles*/
.service-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.service-list li:hover{
    color: #fad03b;
}

.service-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
    margin: auto 100px;

    /* Media Query pour les tablettes */
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr; 
        margin: auto 50px; 
    }

    /* Media Query pour les téléphones */
    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
        margin-left: 50px;
        margin-right: 50px;
    }
}

.service-grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff35;
    height: 200px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.service-grid div h2{
    font-size: 24px;
    margin-top: 10px;
}

.service-grid div {
    font-size: 45px;
}

.custom-icon{
    color: #fad03b !important;
}

.services-img-3{
    @media (max-width: 768px) {
        margin-top: 50px;
    }
}

.service-img-container img{
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 900px;
}
/*end service styles*/

.row-equipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
    margin: auto 100px;

    /* Media Query pour les tablettes */
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr; 
        margin: auto 50px; 
    }

    /* Media Query pour les téléphones */
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr; 
        margin-left: 50px;
        margin-right: 50px;
    }
}