p{
    font-size: 17px;
}


.section-heading h2{
    font-size: 35px;
}

.schedule-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}

.overlay-icon-layout5 .text-left ul{
    list-style: disc;
    margin-left: 50px;
    font-size: 17px;
}


.row-2{
    margin-top:  50px;
}

.row-1, .row-2{
    margin-left: 100px;
    margin-right: 100px;
}

.container-maps{
    margin: 50px auto;
}


.service-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.service-list li:hover{
    color: #fad03b;
}

.service-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
    margin: auto 100px;

    /* Media Query pour les tablettes */
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        margin: auto 50px;
    }

    /* Media Query pour les téléphones */
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.service-grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff35;
    height: 200px;
    border-radius: 15px;
}

.service-grid div h2{
    font-size: 24px;
    margin-top: 10px;
}

.service-grid div {
    font-size: 45px;
}

.custom-icon{
    color: #fad03b !important;
}

.services-img-3{
    @media (max-width: 768px) {
        margin-top: 50px;
    }
}

.row-equipe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 35px;
    margin: auto 100px;

    /* Media Query pour les tablettes */
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr; 
        margin: auto 50px; 
    }

    /* Media Query pour les téléphones */
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr; 
        margin-left: 50px;
        margin-right: 50px;
    }
}

